rect {
  -webkit-transition: all 3700ms ease-in-out;
  transition: all 3700ms ease-in-out;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.content .control-area {
  margin: 0 20px;
}

.content .control-area .control-area__row {
  padding: 5px 0;
}

.content .control-area .control-area__row .contol-area__operation-select {
  padding: 2px;
}

.content .control-area .control-area__row .contol-area__size {
  max-width: 80px;
}

.content .control-area .control-area__row.control-area__error-block {
  margin: 10px 0;
  color: #fa5210;
  font-size: 14px;
}

.content .label {
  color: #00303f;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  margin-right: 5px;
}

.content .button {
  margin-right: 10px;
  background-color: #dcae1d;
  text-transform: uppercase;
  border: 1px solid #dcae1d;
  color: white;
}

.content .button:disabled, .content .button[disabled] {
  opacity: 0.5;
}
