.socials__link {
  display: inline-block;
  font-size: 0;
}

.socials__link svg {
  width: 30px;
  height: 30px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.socials__link svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
