.news-feed
  &__list
    +mb55
  &__item
    background-color: $gray0
    padding: 15px 25px
    +mb50
    &:last-child
      margin-bottom: 0
  &_index
    .news-feed__list
      display: flex
      flex-flow: row wrap
      align-items: stretch
      justify-content: space-between
    .news-feed__item
      flex-basis: 49%
      margin-bottom: 55px
      background-color: transparent
      padding: 10px 15px
      +xxs-block
        flex-basis: 100%
    .article__wrapper
      height: 100%
      display: flex
      flex-flow: column nowrap
      align-items: flex-start
      justify-content: flex-start
    .article__preview
      max-height: 40vh
      align-self: center
      display: flex
      flex-flow: column nowrap
      align-items: center
      justify-content: center
    .article__preview-img
      max-height: 100%

    .article__link
      margin-top: auto

.pagination
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-start
  &__title
    margin-right: 10px
  &__wrapper
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
  &__next
    color: $black0
    margin-right: 5px
    +font(p)
    font-size: 24px
    transition: .3s all linear
    &:hover
      color: #000000
      text-decoration: underline
    &:last-child
      margin-right: 0
      margin-left: 5px
  &__list
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
  &__item
    margin-right: 5px
    &:last-child
      margin-right: 0
  &__number
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    width: 20px
    height: 20px
    background-color: $gray1
    border: 1px solid $gray0
    transition: .3s all linear
    color: $black0
    &:hover
      background-color: $yellow0
      color: #ffffff
    &_current
      background-color: #fff
      &:hover
        background-color: #ffffff
        color: $black0

.searchdetails
  +mb20
  &__wrapper
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: flex-start
  &__text
    padding: 10px
    +xxs-block
      padding: 5px
  &__controls
    padding: 10px
    +xxs-block
      padding: 5px
  &__clear-btn
    padding: 10px
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
    text-transform: uppercase
    transition: .3s all linear
    border: 2px solid $gray0
    color: $black0
    &:hover
      background-color: $black0
      color: #ffffff
      border-color: $black0
      .searchdetails__cross
        &::after
          background-color: #ffffff
        &::before
          background-color: #ffffff
    +xxs-block
      padding: 5px
  &__cross
    width: 16px
    height: 16px
    position: relative
    margin-left: 8px
    +xxs-block
      width: 12px
      height: 12px
      &::after
        width: 12px
      &::before
        width: 12px
    &::after
      content: ''
      width: 16px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      background-color: $black0
      transform: translate(-50%, -50%) rotate(45deg)
      transition: .3s all linear
    &::before
      content: ''
      width: 16px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      background-color: $black0
      transform: translate(-50%, -50%) rotate(-45deg)
      transition: .3s all linear
