{% comment %}
    This is template for use with django-sniplates package
    https://sniplates.readthedocs.io/en/latest/
{% endcomment %}

{% block pagination %}
<div class="pagination" style='margin-top: 15px;'>
<div class="pagination__title txt txt_font_osb txt_size_13"><span>Страницы: </span></div>
<div class="pagination__wrapper">
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">
    <button class="pagination__next pagination__next_backward" title="Предыдущая">«</button>
    </a>
    {% endif %}
    <ul class="pagination__list">
    {% for p in paginator.page_range %}
        <li class="pagination__item">
        <a href="?page={{ p }}{% if search_query %}&q={{ search_query }}{% endif %}"><button class="pagination__number{% if page_obj.number == p %} pagination__number_current{% endif %}">
            <span>{{ p }}</span>
        </button></a>
        </li>
        {% endfor %}
    </li>
    </ul>
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">
    <button class="pagination__next pagination__next_forward" title="Следующая">»</button>
    </a>
    {% endif %}
</div>
</div>
{% endblock pagination %}
