.firstscreen
  padding: 0
  margin-bottom: 50px
  +xxs-block
    margin-bottom: 15px
  &__wrapper
    position: relative
    background-color: #313131
    text-align: center
    font-size: 0
    &::before
      content: ''
      display: inline-block
      position: absolute
      width: 120px
      margin-right: -120px
      height: 100%
      background-image: linear-gradient(90deg, #313131, transparent)
    &::after
      content: ''
      display: inline-block
      position: absolute
      width: 120px
      margin-left: -120px
      height: 100%
      background-image: linear-gradient(-90deg, #313131, transparent)
    +sm-block
      height: auto
      &::after
        display: none
    +xs-block
      &::after
        display: inline-block
        top: 0
        right: 0
        margin-left: 0
  &__pic
    z-index: 1
    right: 0
    top: 0
    +sm-block
      height: auto
    +xxs-block
      max-height: 50vh
    +xs-block
      max-height: 30vh
  .article
    text-align: left
    position: absolute
    bottom: 5%
    left: 50%
    transform: translateX(-50%)
    background-color: rgba($white0, .8)
    z-index: 2
    padding: 40px 20px
    width: 768px
    +md-block
      width: 100%
    +sm-block
      position: relative
      padding: 20px 10px
      width: 100%
      background-color: rgba(#fff, .9)
    +xxs-block
      padding: 10px 14px
      width: 100%
  .article__text
    color: #000
