.socials__link {
  display: inline-block;
  font-size: 0; }
  .socials__link svg {
    width: 30px;
    height: 30px;
    transition: 0.3s all linear; }
    .socials__link svg:hover {
      transform: scale(1.2); }

/*# sourceMappingURL=extra-admin.css.map */
