{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags sniplates %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% endblock extra_css %}

{% block header2 %}
{% if search_all %}Расширенный поиск{% endif %}
{% endblock header2 %}
{% block subtitle %}
{% if search_query %}
<div class="searchdetails">
<div class="searchdetails__wrapper">
    <div class="searchdetails__text txt txt_size_15 txt_font_osb">
        <span>Поиск по запросу '{{ search_query }}'</span>
    </div>
    {% if not search_all %}
    <div class="searchdetails__controls">
        <a class="searchdetails__clear-btn txt txt_font_osb txt_size_15"
           href="{% slugurl page.specific.slug %}"><span>Сбросить</span>
        <div class="searchdetails__cross"></div></a>
    </div>
    {% endif %}
</div>
</div>
{% endif %}
{% endblock subtitle %}

{% block section %}news-feed{% endblock %}

{% block content %} {% load_widgets articles="articles/sniplates_articles.html" %}
<ul class="news-feed__list">
{% for article in newsitem_list %}
    <li class="news-feed__item article">
        <div class="article__wrapper">
        <div class="article__preview">
            {% if article.cover_image %}
            {% image article.cover_image max-640x320 %}
            {% else %}
            {% cycle '/images/template/vertical2.jpg' '/images/template/vertical1.jpg' '/images/template/vertical0.jpeg' as cycle_prev %}
            <img class="article__preview-img" src="{% static cycle_prev %}" alt="">
            {% endif %}
        </div>
        {% comment %} Meta: date, tags, pinning note {% endcomment %}
        {% widget "articles:meta_and_body" article=article truncwords=72 %}
    </li>

{% empty %}
    <li class="news-feed__item article">
        <h3>Ничего не найдено!</h3>
        <p>{% if search_query %}
            {% if not search_all %}<a href='{% slugurl page.specific.slug %}'>
            Сбросьте поисковые фильтры</a> или {% endif %}попробуйте другой запрос.
            {% endif %}
        </p>
    </li>
{% endfor %}
</ul>


{% endblock content %}
