{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags sniplates %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% endblock extra_css %}

{% block header1 %}{% endblock header1 %}
{% block header2 %}{% endblock header2 %}
{% block subtitle %}{% endblock subtitle %}

{% block content %} {% load_widgets articles="articles/sniplates_articles.html" %}
<article class="section article">
    <div class="container">
    <div class="article__wrapper">
        <div class="article__preview">
            {% if newsitem.cover_image %}
            {% image newsitem.cover_image max-800x480 %}
            {% else %}
            <img class="article__preview-img" src="/static/images/template/vertical0.jpeg" alt="">
            {% endif %}
        </div>
        {% widget "articles:meta_and_body" article=newsitem %}
    </div>
    </div>
</article>

{% endblock content %}
