{% load wagtailcore_tags %}

{% block meta %}
<div class="article__meta">
    <div class="article__date txt txt_font_osb txt_size_13">
    <span>{{ article.date }}</span></div>
    {% comment %} pinning {% endcomment %}
    {% if article.pin_rank > 0 %}
    <div class="article__important txt txt_font_osb txt_size_13"><span>закреплено</span>
        <div class="article__important-popup txt txt_font_os txt_size_13">
        <span>Статья закреплена с рейтингом {{ article.pin_rank }}</span>
        </div>
    </div>
    {% endif %}
    {% comment %} tags {% endcomment %}
    <div class="article__type txt txt_font_os txt_size_13">
        {% for tag in article.tags.all %}
        <span>{{ tag }}</span>
        {% empty %}
        <span>новость</span> {# DELETE ME #}
        {% endfor %}
    </div>
    {% comment %} end article meta {% endcomment %}
</div>
{% endblock meta %}


{% block meta_and_body %}
<div class="article__meta">
    <div class="article__date txt txt_font_osb txt_size_13">
    <span>{{ article.date }}</span></div>
    {% comment %} pinning {% endcomment %}
    {% if article.pin_rank > 0 %}
    <div class="article__important txt txt_font_osb txt_size_13"><span>закреплено</span>
        <div class="article__important-popup txt txt_font_os txt_size_13">
        <span>Статья закреплена с рейтингом {{ article.pin_rank }}</span>
        </div>
    </div>
    {% endif %}
    {% comment %} tags {% endcomment %}
    <div class="article__type txt txt_font_os txt_size_13">
        {% for tag in article.tags.all %}
        <span>{{ tag }}</span>
        {% empty %}
        <span>новость</span> {# DELETE ME #}
        {% endfor %}
    </div>
    {% comment %} end article meta {% endcomment %}
</div>

<div class="article__title title">
    <a class='article__main-link' href="{{ article.full_url }}"><h2>{{ article.title }}</h2></a>
</div>
<div class="article__text txt txt_font_os txt_size_15">
    <p>
    {% if truncwords %}
        {{ article.body|richtext|truncatewords_html:article.get_smart_trunc_words_count }}
    {% else %}
        {{ article.body|richtext }}
    {% endif %}
    </p>
</div>
{% if truncwords %}
    <a class="article__link txt txt_font_os txt_size_15" href="{{ article.full_url }}">
    <span>Подробнее</span>
    </a>
    {% if user.is_superuser %}
        <sup>(trunc: {{ article.get_smart_trunc_words_count }})</sup>
    {% endif %}
{% endif %}

{% endblock %}
