
.headerTable {
  width: 100%;
  box-sizing: border-box;
  display: table;
  border-collapse: collapse
}

.headerTable .cell {
  border-left: 1px solid #cdd5dc;
  border-right: 1px solid #cdd5dc;
  border-top: 1px solid #cdd5dc;
  border-bottom: none;
}

.cell {
  border: 1px solid #cdd5dc;
  box-sizing: border-box;
  border-collapse: collapse;
  height: 35px;
  line-height: 35px;
  word-break: break-all;
}

.cell.selector {
  width: 35px;
  min-width: 35px;
  max-width: 10%;
  text-align: center;
}

.cell.content .value.expander {
  padding-left: 5px;
}

.row {
  display: table-row;
}

.row.visible {
  opacity: 1;
  transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
}

.row.hidden {
  position: fixed;
  top: -1000px;
  opacity: 0;
}

.row.selected {
  background: #e2e7eb;
}
