{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags sniplates %}


{% block extra_css %}
<link rel="stylesheet" href="{%static 'angular/styles.css' %}">
{% endblock extra_css %}

{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}Приложение{% endif %}
{% endblock %}

{% block extra_head %}
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock extra_head %}

{% block main %}

<app-root></app-root>

<script src="{% static 'angular/runtime-es2015.js' %}" type="module"></script>
<script src="{% static 'angular/runtime-es5.js' %}" nomodule defer></script>
<script src="{% static 'angular/polyfills-es5.js' %}" nomodule defer></script>
<script src="{% static 'angular/polyfills-es2015.js' %}" type="module"></script>
<script src="{% static 'angular/main-es2015.js' %}" type="module"></script>
<script src="{% static 'angular/main-es5.js' %}" nomodule defer></script>
<script src="{% static 'angular/vendor-es2015.js' %}" type="module"></script>
<script src="{% static 'angular/vendor-es5.js' %}" nomodule defer></script>

{% endblock main %}