{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags sniplates %}


{% block extra_css %}
<link rel="stylesheet" href="{%static 'angular/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock extra_css %}

{% block title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}ВВП России{% endif %}
{% endblock %}

{% block extra_head %}
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock extra_head %}
{% block main %}
<h1></h1>

<app-root></app-root>

<script src="{% static 'angular/runtime-es2015.js' %}" type="module"></script>
<script src="{% static 'angular/runtime-es5.js' %}" nomodule defer></script>
<script src="{% static 'angular/polyfills-es5.js' %}" nomodule defer></script>
<script src="{% static 'angular/polyfills-es2015.js' %}" type="module"></script>
<script src="{% static 'angular/main-es2015.js' %}" type="module"></script>
<script src="{% static 'angular/main-es5.js' %}" nomodule defer></script>
<script src="{% static 'angular/vendor-es2015.js' %}" type="module"></script>
<script src="{% static 'angular/vendor-es5.js' %}" nomodule defer></script>

<!-- <app-root></app-root>
<script>

	var pf;
	if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
		pf = 'es5';

	} else {
		pf = 'es2015';
	}
	var script = document.createElement('script');
	script.src = '/static/sna/runtime-' + pf + '.js';
	document.body.appendChild(script);
	var script = document.createElement('script');
	script.src = '/static/sna/polyfills-' + pf + '.js';
	document.body.appendChild(script);
	var script = document.createElement('script');
	script.src = '/static/sna/main-' + pf + '.js';
	document.body.appendChild(script);
	var script = document.createElement('script');
	script.src = '/static/sna/vendor-' + pf + '.js';
	document.body.appendChild(script);
</script> -->
{% endblock main %}