div {
  width: 100%;
  height: 100%;
  text-align: center;
}

highcharts-chart {
  display: inline-block !important;
  width: 500px;
  max-width: 100%;
  height: 500px;
  display: block;
}

db-angular-tree-grid{
  text-align: left;
}
