@font-face {
  font-family: "OpenSans-regular";
  src: url("../fonts/OpenSans-Regular.woff");
  src: url("../fonts/OpenSans-Regular.svg"), url("../fonts/OpenSans-Regular.ttf"), url("../fonts/OpenSans-Regular.otf"), url("../fonts/OpenSans-Regular.eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-bold";
  src: url("../fonts/OpenSans-Bold.woff");
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Play-regular";
  src: url("../fonts/Play-Regular.woff");
  src: url("../fonts/Play-Regular.svg"), url("../fonts/Play-Regular.ttf"), url("../fonts/Play-Regular.otf"), url("../fonts/Play-Regular.eot");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
*:hover {
  outline: none;
}
*:focus {
  outline: none;
}

html {
  width: 100%;
  font-size: 16px;
  overflow-y: scroll;
}

body {
  height: 100%;
  line-height: 1.42;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #818181;
  font-size: 20px;
  min-height: 100vh;
}
body.frozen {
  overflow: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

section, .section {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}
@media screen and (max-width: 640px) {
  section, .section {
    padding: 15px 0;
  }
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0px solid transparent;
}

button:focus, input:focus, a:focus, textarea:focus {
  outline: 0;
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.wrapper::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -100;
  background-color: rgba(0, 0, 0, 0.6);
}
.wrapper.faded::after {
  opacity: 1;
  z-index: 2;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section__head {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .section__head {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 640px) {
  .section__head {
    margin-bottom: 22px;
  }
}
.section__title {
  margin-bottom: 25px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 640px) {
  .section__title {
    margin-bottom: 12px;
  }
}
.section__subtitle {
  text-transform: uppercase;
}

.txt_font_os {
  font-family: "OpenSans-regular";
  font-style: normal;
  font-weight: normal;
}
.txt_font_osb {
  font-family: "OpenSans-bold";
  font-style: normal;
  font-weight: normal;
}
.txt_font_p {
  font-family: "Play-regular";
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
}
.txt_size_logo {
  font-size: 15px;
}
.txt_size_26 {
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  .txt_size_26 {
    font-size: 22px;
  }
}
@media screen and (max-width: 640px) {
  .txt_size_26 {
    font-size: 18px;
  }
}
.txt_size_22 {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .txt_size_22 {
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  .txt_size_22 {
    font-size: 16px;
  }
}
.txt_size_18 {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .txt_size_18 {
    font-size: 15px;
  }
}
.txt_size_15 {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .txt_size_15 {
    font-size: 13px;
  }
}
.txt_size_13 {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .txt_size_13 {
    font-size: 11px;
  }
}
.txt p {
  margin-bottom: 20px;
}
.txt p:last-child {
  margin-bottom: 0;
}
.txt b {
  font-weight: 600;
}

.title {
  line-height: 1.2;
  font-family: "Play-regular";
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
}
.title h1 {
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .title h1 {
    font-size: 26px;
  }
}
.title h2 {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .title h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 640px) {
  .title h2 {
    font-size: 22px;
  }
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.9);
  border-bottom: 1px solid #818181;
  padding: 5px 20px;
  transition: 0.3s padding ease;
  z-index: 10;
}
@media screen and (max-width: 640px) {
  .header {
    padding: 3px 0;
  }
}
.header.sticky {
  background-color: rgba(238, 238, 238, 0.9);
  border-bottom: 1px solid rgba(129, 129, 129, 0.4);
}
@media screen and (max-width: 992px) {
  .header.sticky .header__search {
    flex-basis: calc(100% - 45px);
    width: calc(100% - 45px);
  }
  .header.sticky .header__search .search__inp {
    width: calc(100% - 35px);
  }
}
@media screen and (max-width: 640px) {
  .header.sticky .main-menu__list {
    text-align: left;
  }
}
.header__wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
@media screen and (max-width: 640px) {
  .header__wrapper {
    padding: 0 10px;
  }
}
.header__search {
  flex-basis: 200px;
}
@media screen and (max-width: 992px) {
  .header__search {
    display: none;
  }
}
.header__main-menu {
  padding: 0 20px;
}
.header__main-menu .main-menu__item {
  margin-right: 25px;
}
.header__main-menu .main-menu__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 992px) {
  .header__main-menu {
    flex-basis: auto;
    z-index: 10;
    padding: 0;
  }
  .header__main-menu .main-menu__list {
    position: absolute;
    left: -100%;
    top: 0;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #fff;
    border: 1px solid #eee;
    opacity: 0;
    transition: 0.2s all linear;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  .header__main-menu .main-menu__list {
    width: 60vw;
    height: 100vh;
  }
}
@media screen and (max-width: 992px) {
  .header__main-menu .main-menu__list_visible {
    opacity: 1;
    left: 0;
  }
}
@media screen and (max-width: 992px) {
  .header__main-menu .main-menu__item {
    margin-right: 0;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(129, 129, 129, 0.4);
  }
  .header__main-menu .main-menu__item:last-child {
    border-bottom: 0px;
  }
  .header__main-menu .main-menu__item:hover .main-menu__sub-list {
    height: auto;
    display: block;
  }
}
@media screen and (max-width: 992px) and (max-width: 480px) {
  .header__main-menu .main-menu__item {
    padding: 15px 0;
  }
}
@media screen and (max-width: 992px) {
  .header__main-menu .main-menu__link {
    padding: 0 20px;
  }
}
@media screen and (max-width: 992px) {
  .header__main-menu .main-menu__sub-list {
    position: static;
    transform: none;
    height: 0;
    display: none;
    border: none;
  }
}
@media screen and (max-width: 992px) {
  .header__main-menu .main-menu__sub-item {
    text-align: left;
    border: none;
  }
}
@media screen and (max-width: 992px) {
  .header__main-menu .main-menu__sub-link {
    padding: 5px 25px;
  }
}
@media screen and (max-width: 992px) {
  .header__main-menu .search__desc {
    padding: 0 10px;
    font-size: 18px !important;
  }
}

.logo {
  width: 50px;
  transition: 0.1s all linear;
}
@media screen and (max-width: 992px) {
  .logo {
    width: 40px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 30px;
  }
}
.logo:hover {
  transform: scale(1.1);
}
.logo__link {
  display: flex;
  font-size: 0;
  color: #000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.logo__text {
  text-transform: uppercase;
}

.main-menu__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.main-menu__item {
  position: relative;
}
.main-menu__item:hover .main-menu__link {
  color: #f99600;
}
.main-menu__item:hover .main-menu__sub-list {
  left: 50%;
  opacity: 1;
  z-index: 2;
}
.main-menu__item_search {
  display: none;
}
@media screen and (max-width: 992px) {
  .main-menu__item_search {
    display: block;
    padding: 20px 0 !important;
    margin-bottom: 20px;
    order: -1;
  }
  .main-menu__item_search .search {
    width: 100%;
  }
  .main-menu__item_search .search__wrapper {
    width: 100%;
    border-left: 0px;
    border-right: 0px;
  }
  .main-menu__item_search .search__inp {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .main-menu__item_search {
    margin-bottom: 0;
    padding-bottom: 0 !important;
  }
}
.main-menu__item_logo {
  display: none;
  border-bottom: none !important;
  width: 60px;
  align-self: center;
}
@media screen and (max-width: 992px) {
  .main-menu__item_logo {
    display: block;
    width: 60px !important;
    margin-bottom: 20px;
    order: -1;
  }
}
.main-menu__link {
  color: #818181;
  transition: 0.3s all linear;
}
@media screen and (max-width: 480px) {
  .main-menu__link {
    font-size: 16px !important;
  }
}
.main-menu__sub-list {
  position: absolute;
  top: 100%;
  left: -10000px;
  opacity: 0;
  transform: translateX(-50%);
  border: 1px solid #eee;
  background-color: #ffffff;
  transition: 0.3s opacity linear;
}
.main-menu__sub-item {
  border-bottom: 1px solid #f3f3f3;
}
.main-menu__sub-item:hover .main-menu__sub-link {
  color: #000;
}
.main-menu__sub-link {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  padding: 5px 45px;
  color: #818181;
  transition: 0.3s all linear;
}
.main-menu__hamburger {
  font-size: 0;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 992px) {
  .main-menu__hamburger {
    display: block;
    width: 50px;
  }
  .main-menu__hamburger .st0 {
    transition: 0.2s all linear;
    transform-origin: center;
  }
  .main-menu__hamburger #XMLID_8_ {
    transition: 0s all linear;
  }
  .main-menu__hamburger.opened #XMLID_6_ {
    transform: rotate(46deg) translateY(16%);
  }
  .main-menu__hamburger.opened #XMLID_9_ {
    transform: rotate(-46deg) translateY(-16%);
  }
  .main-menu__hamburger.opened #XMLID_8_ {
    opacity: 0;
  }
}

.search__desc {
  margin-bottom: 10px;
}
.search__wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
  background-color: #fff;
  border: 1px #818181 solid;
}
.search__inp {
  flex-basis: calc(100% - 35px);
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  font-family: "OpenSans-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .search__inp {
    flex-basis: unset;
    width: calc(100% - 35px);
    font-size: 14px;
  }
}
.search__btn {
  flex-basis: 35px;
  width: 35px;
  height: 35px;
  font-size: 0;
}
.search__btn svg path {
  transition: 0.2s all linear;
}
.search__btn:hover svg path {
  fill: #f99600;
}

.firstscreen {
  padding: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 640px) {
  .firstscreen {
    margin-bottom: 15px;
  }
}
.firstscreen__wrapper {
  position: relative;
  background-color: #313131;
  text-align: center;
  font-size: 0;
}
.firstscreen__wrapper::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 120px;
  margin-right: -120px;
  height: 100%;
  background-image: linear-gradient(90deg, #313131, transparent);
}
.firstscreen__wrapper::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 120px;
  margin-left: -120px;
  height: 100%;
  background-image: linear-gradient(-90deg, #313131, transparent);
}
@media screen and (max-width: 768px) {
  .firstscreen__wrapper {
    height: auto;
  }
  .firstscreen__wrapper::after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .firstscreen__wrapper::after {
    display: inline-block;
    top: 0;
    right: 0;
    margin-left: 0;
  }
}
.firstscreen__pic {
  z-index: 1;
  right: 0;
  top: 0;
}
@media screen and (max-width: 768px) {
  .firstscreen__pic {
    height: auto;
  }
}
@media screen and (max-width: 640px) {
  .firstscreen__pic {
    max-height: 50vh;
  }
}
@media screen and (max-width: 480px) {
  .firstscreen__pic {
    max-height: 30vh;
  }
}
.firstscreen .article {
  text-align: left;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  padding: 40px 20px;
  width: 768px;
}
@media screen and (max-width: 992px) {
  .firstscreen .article {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .firstscreen .article {
    position: relative;
    padding: 20px 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@media screen and (max-width: 640px) {
  .firstscreen .article {
    padding: 10px 14px;
    width: 100%;
  }
}
.firstscreen .article__text {
  color: #000;
}

@media screen and (max-width: 768px) {
  .telefeed .mCSB_scrollTools {
    width: 2px;
  }
}
.telefeed__title {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .telefeed__title {
    margin-bottom: 15px;
  }
}
.telefeed__inner-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  height: 40vh;
}
@media screen and (max-width: 768px) {
  .telefeed__inner-wrapper {
    height: 60vh;
  }
}
.telefeed__title-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: #37aee2;
  width: max-content;
  margin: 0 auto;
  transition: 0.3s all linear;
}
.telefeed__title-link:hover {
  color: #f99600;
}
.telefeed__tg-logo {
  width: 30px;
  margin-right: 10px;
}
.telefeed__text-field {
  flex-basis: 60%;
  height: 40vh;
}
.telefeed__text-field .mCSB_scrollTools {
  right: unset;
  left: 0;
}
.telefeed__text-field .mCSB_container {
  padding-left: 22px;
}
@media screen and (max-width: 768px) {
  .telefeed__text-field {
    flex-basis: 100%;
    height: 35vh;
    padding-bottom: 10px;
  }
  .telefeed__text-field .mCSB_container {
    padding-left: 10px;
  }
}
.telefeed__text-head {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .telefeed__text-head {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 640px) {
  .telefeed__text-head {
    margin-bottom: 12px;
  }
}
.telefeed__text-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .telefeed__text-title {
    margin-bottom: 8px;
  }
}
.telefeed__links {
  flex-basis: 40%;
  border-left: 1px solid #818181;
  height: 40vh;
}
.telefeed__links .mCSB_inside > .mCSB_container {
  margin-right: 7px;
}
@media screen and (max-width: 768px) {
  .telefeed__links .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .telefeed__links {
    flex-basis: 100%;
    height: 25vh;
    border-left: 0px solid #818181;
  }
}
.telefeed__item {
  padding: 15px 10px 15px 30px;
  background-color: #eee;
  position: relative;
  transition: 0.3s all linear;
}
.telefeed__item::after {
  content: "";
  position: absolute;
  left: 10%;
  width: 80%;
  height: 1px;
  bottom: 0;
  background-color: #c8c8c8;
}
.telefeed__item.active {
  background-color: #37aee2;
}
.telefeed__item.active::after {
  background-color: #818181;
}
.telefeed__item.active .telefeed__item-title {
  color: #ffffff;
}
.telefeed__item.active .telefeed__item-date {
  color: #ffffff;
}
.telefeed__item:hover {
  background-color: #ffca7a;
}
.telefeed__item:hover .telefeed__item-title {
  color: #000;
}
.telefeed__item:hover .telefeed__item-date {
  color: #000;
}
.telefeed__item:last-child::after {
  display: none;
}
@media screen and (max-width: 768px) {
  .telefeed__item {
    padding: 15px;
  }
  .telefeed__item:hover {
    background-color: #eee;
  }
  .telefeed__item:hover .telefeed__item-title {
    color: #818181;
  }
  .telefeed__item:hover .telefeed__item-date {
    color: #818181;
  }
}
@media screen and (max-width: 640px) {
  .telefeed__item {
    padding: 8px;
  }
}
.telefeed__item-link {
  color: #818181;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .telefeed__item-link {
    text-align: left;
  }
}
.telefeed__item-title {
  transition: 0.3s all linear;
}
.telefeed__item-date {
  transition: 0.3s all linear;
}

.news-feed__list {
  margin-bottom: 55px;
}
@media screen and (max-width: 768px) {
  .news-feed__list {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 640px) {
  .news-feed__list {
    margin-bottom: 25px;
  }
}
.news-feed__item {
  background-color: #eee;
  padding: 15px 25px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .news-feed__item {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 640px) {
  .news-feed__item {
    margin-bottom: 22px;
  }
}
.news-feed__item:last-child {
  margin-bottom: 0;
}
.news-feed_index .news-feed__list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}
.news-feed_index .news-feed__item {
  flex-basis: 49%;
  margin-bottom: 55px;
  background-color: transparent;
  padding: 10px 15px;
}
@media screen and (max-width: 640px) {
  .news-feed_index .news-feed__item {
    flex-basis: 100%;
  }
}
.news-feed_index .article__wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.news-feed_index .article__preview {
  max-height: 40vh;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.news-feed_index .article__preview-img {
  max-height: 100%;
}
.news-feed_index .article__link {
  margin-top: auto;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.pagination__title {
  margin-right: 10px;
}
.pagination__wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.pagination__next {
  color: #818181;
  margin-right: 5px;
  font-family: "Play-regular";
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
  font-size: 24px;
  transition: 0.3s all linear;
}
.pagination__next:hover {
  color: #000000;
  text-decoration: underline;
}
.pagination__next:last-child {
  margin-right: 0;
  margin-left: 5px;
}
.pagination__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.pagination__item {
  margin-right: 5px;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__number {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #e6e6e6;
  border: 1px solid #eee;
  transition: 0.3s all linear;
  color: #818181;
}
.pagination__number:hover {
  background-color: #f99600;
  color: #ffffff;
}
.pagination__number_current {
  background-color: #fff;
}
.pagination__number_current:hover {
  background-color: #ffffff;
  color: #818181;
}

.searchdetails {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .searchdetails {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 640px) {
  .searchdetails {
    margin-bottom: 8px;
  }
}
.searchdetails__wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
.searchdetails__text {
  padding: 10px;
}
@media screen and (max-width: 640px) {
  .searchdetails__text {
    padding: 5px;
  }
}
.searchdetails__controls {
  padding: 10px;
}
@media screen and (max-width: 640px) {
  .searchdetails__controls {
    padding: 5px;
  }
}
.searchdetails__clear-btn {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  transition: 0.3s all linear;
  border: 2px solid #eee;
  color: #818181;
}
.searchdetails__clear-btn:hover {
  background-color: #818181;
  color: #ffffff;
  border-color: #818181;
}
.searchdetails__clear-btn:hover .searchdetails__cross::after {
  background-color: #ffffff;
}
.searchdetails__clear-btn:hover .searchdetails__cross::before {
  background-color: #ffffff;
}
@media screen and (max-width: 640px) {
  .searchdetails__clear-btn {
    padding: 5px;
  }
}
.searchdetails__cross {
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 8px;
}
@media screen and (max-width: 640px) {
  .searchdetails__cross {
    width: 12px;
    height: 12px;
  }
  .searchdetails__cross::after {
    width: 12px;
  }
  .searchdetails__cross::before {
    width: 12px;
  }
}
.searchdetails__cross::after {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #818181;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.3s all linear;
}
.searchdetails__cross::before {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #818181;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 0.3s all linear;
}

.article__preview {
  text-align: center;
  font-size: 0;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .article__preview {
    margin-bottom: 15px;
  }
}
.article__preview-img {
  max-height: 33vh;
}
.article__meta {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .article__meta {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 640px) {
  .article__meta {
    margin-bottom: 18px;
  }
}
.article__date {
  margin-right: 20px;
  white-space: nowrap;
  margin-bottom: 5px;
  margin-top: 5px;
}
.article__date span {
  display: inline-block;
  vertical-align: middle;
}
.article__important {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
  position: relative;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.article__important:last-child {
  margin-right: 0;
}
.article__important span {
  padding: 5px 10px;
  background-color: transparent;
  color: #A00;
  border: 2px solid #A00;
}
.article__important:hover .article__important-popup {
  transform: translateX(-50%) scale(1);
}
.article__important-popup {
  position: absolute;
  z-index: 5;
  width: 200px;
  left: 50%;
  bottom: calc(100% + 5px);
  transform: translateX(-50%) scale(0);
  background-color: #fff;
  border: 1px solid #818181;
  padding: 10px 5px;
  transition: 0.3s all linear;
}
.article__important-popup span {
  color: #818181;
  background-color: transparent;
  text-transform: none;
  border: none;
}
.article__type {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.article__type:last-child {
  margin-right: 0;
}
.article__type span {
  padding: 5px 10px;
  background-color: #818181;
  color: #ffffff;
}
.article__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.article__main-link {
  text-decoration: none !important;
}
.article__pic {
  background-color: #e6e6e6;
  padding: 10px;
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .article__pic {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 640px) {
  .article__pic {
    margin-bottom: 18px;
  }
}
.article__img {
  text-align: center;
  max-width: 100%;
}
.article__link {
  text-transform: uppercase;
  display: inline-block;
  background-color: #818181;
  padding: 10px 25px;
  color: #fff !important;
  text-decoration: none !important;
  transition: 0.3s all linear;
}
.article__link:hover {
  background-color: #f99600;
  color: #ffffff;
}
.article h3 {
  font-family: "Play-regular";
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
  font-size: 25px;
  text-transform: uppercase;
  margin: 35px 0 10px;
}
@media screen and (max-width: 640px) {
  .article h3 {
    font-size: 22px;
  }
}
.article h4 {
  font-family: "Play-regular";
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
  font-size: 20px;
  margin: 25px 0 10px;
}
@media screen and (max-width: 640px) {
  .article h4 {
    font-size: 18px;
  }
}
.article p {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .article p {
    margin-bottom: 8px;
  }
}
.article p:last-child {
  margin-bottom: 55px;
}
@media screen and (max-width: 768px) {
  .article p:last-child {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 640px) {
  .article p:last-child {
    margin-bottom: 25px;
  }
}
.article ul {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .article ul {
    margin-bottom: 8px;
  }
}
.article ul li {
  position: relative;
  padding-left: 10px;
}
.article ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #818181;
  border-radius: 50%;
}
.article ol {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .article ol {
    margin-bottom: 8px;
  }
}
.article ol li {
  list-style-type: decimal;
  list-style-position: inside;
}
.article a {
  color: #000000;
  text-decoration: underline;
  transition: 0.3s all linear;
}
.article a:hover {
  color: #f99600;
}

.footer {
  background-color: #313131;
  padding: 10px 0;
  padding-bottom: 10px;
}
.footer__wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .footer__wrapper {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}
.footer__logo {
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .footer__logo {
    margin: 0 auto;
  }
}
.footer__main-menu {
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .footer__main-menu {
    padding: 0;
  }
}
.footer__main-menu .main-menu__title {
  color: #a6a6a6;
  margin-bottom: 20px;
}
.footer__main-menu .main-menu__link {
  color: #e6e6e6;
  font-size: 0;
}
.footer__main-menu .main-menu__item {
  margin-right: 35px;
}
.footer__main-menu .main-menu__item:last-child {
  margin-right: 0;
}
.footer__socials {
  padding: 0 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .footer__socials {
    padding: 0;
    flex-flow: column nowrap;
  }
}
@media screen and (max-width: 480px) {
  .footer__socials {
    margin-bottom: 20px;
  }
}
.footer__socials .socials__title {
  color: #a6a6a6;
}
@media screen and (max-width: 640px) {
  .footer__socials .socials__title {
    margin-bottom: 10px;
  }
}
.footer__socials .socials__item {
  margin-right: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.footer__socials .socials__item:last-child {
  margin-right: 0;
}
.footer__support {
  text-align: right;
  color: #a6a6a6;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .footer__support {
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 1;
  }
}
@media screen and (max-width: 480px) {
  .footer__support {
    margin-bottom: 20px;
  }
}

.wagtail-userbar--bottom-right {
  bottom: 16px;
  right: 1em;
}

.socials__title {
  text-align: center;
  margin-right: 20px;
}
.socials__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.socials__item {
  font-size: 0;
}
.socials__link {
  display: inline-block;
  font-size: 0;
}
.socials__link svg {
  width: 30px;
  height: 30px;
  transition: 0.3s all linear;
}
.socials__link svg:hover {
  transform: scale(1.2);
}

.support__title {
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  .support__title {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.support__link {
  display: inline-block;
  font-size: 0;
}
.support svg {
  width: 40px;
  transition: 0.3s all linear;
}
.support svg:hover {
  transform: scale(1.2);
}

.cell {
  border-color: transparent !important;
}

.cell.content {
  color: #313131;
  font-family: "OpenSans-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.cell.content:nth-of-type(0) {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .cell.content:nth-of-type(0) {
    font-size: 15px;
  }
}

.headerTable .cell.content {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .headerTable .cell.content {
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  .headerTable .cell.content {
    font-size: 16px;
  }
}

.gdp-table__checkbox-cell {
  text-align: center;
  vertical-align: middle;
}
.gdp-table__checkbox-label {
  display: block;
}
.gdp-table__checkbox-inp {
  display: none;
}
.gdp-table__checkbox-inp:checked ~ .gdp-table__checkbox-div:after {
  opacity: 1;
}
.gdp-table__checkbox-div {
  width: 14px;
  height: 14px;
  border: 1px solid #818181;
  position: relative;
  border-radius: 3px;
}
.gdp-table__checkbox-div:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #818181;
  border-radius: 2px;
  transition: 0.3s opacity ease-out;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.balance__canvas {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.balance__canvas svg {
  width: auto;
}