<svg enable-background="new 0 0 128 128" id="Слой_1" version="1.1" viewbox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g>
    <g>
        <g>
        <path d="M112.8,64L15.2,49c-4.1,0-7.5-3.4-7.5-7.5v0c0-4.1,3.4-7.5,7.5-7.5h82.5c8.3,0,15,6.7,15,15V64z" fill="#E8E8E8"></path>
        </g>
        <g>
        <path d="M112.8,65.2c-0.1,0-0.1,0-0.2,0l-97.4-15c-4.8-0.1-8.7-4-8.7-8.7c0-4.8,3.9-8.8,8.8-8.8h82.5     c9,0,16.2,7.3,16.2,16.2v15c0,0.4-0.2,0.7-0.4,0.9C113.3,65.1,113,65.2,112.8,65.2z M15.2,35.2c-3.4,0-6.2,2.8-6.2,6.2     s2.8,6.2,6.2,6.2c0.1,0,0.1,0,0.2,0l96.1,14.8V49c0-7.6-6.2-13.8-13.8-13.8H15.2z" fill="#62355C"></path>
        </g>
        <g>
        <path d="M112.8,56.5h-7.9v15h7.9c4.1,0,7.5-3.4,7.5-7.5v0C120.2,59.9,116.9,56.5,112.8,56.5z" fill="#E8E8E8"></path>
        </g>
        <g>
        <path d="M112.8,72.8h-7.9c-0.7,0-1.2-0.6-1.2-1.2v-15c0-0.7,0.6-1.2,1.2-1.2h7.9c4.8,0,8.8,3.9,8.8,8.8     S117.6,72.8,112.8,72.8z M106.1,70.2h6.7c3.4,0,6.2-2.8,6.2-6.2s-2.8-6.2-6.2-6.2h-6.7V70.2z" fill="#62355C"></path>
        </g>
        <g>
        <g>
            <circle cx="60.2" cy="30.2" fill="#F6CD29" r="26.2"></circle>
        </g>
        <g>
            <circle cx="60.2" cy="30.2" fill="#FEE444" r="26.2"></circle>
        </g>
        <g>
            <path d="M60.2,57.8c-15.2,0-27.5-12.3-27.5-27.5S45.1,2.8,60.2,2.8s27.5,12.3,27.5,27.5S75.4,57.8,60.2,57.8z       M60.2,5.2c-13.8,0-25,11.2-25,25s11.2,25,25,25s25-11.2,25-25S74,5.2,60.2,5.2z" fill="#62355C"></path>
        </g>
        <g opacity="0.3">
            <path d="M60.2,9.9C49,9.9,39.9,19,39.9,30.2S49,50.6,60.2,50.6s20.3-9.1,20.3-20.3S71.5,9.9,60.2,9.9z" fill="#F6F7F6"></path>
        </g>
        <g>
            <path d="M60.2,51.8c-11.9,0-21.6-9.7-21.6-21.6S48.3,8.7,60.2,8.7s21.6,9.7,21.6,21.6S72.2,51.8,60.2,51.8z       M60.2,11.2c-10.5,0-19.1,8.6-19.1,19.1s8.6,19.1,19.1,19.1s19.1-8.6,19.1-19.1S70.8,11.2,60.2,11.2z" fill="#62355C"></path>
        </g>
        <g>
            <path d="M64.4,30.4c-0.7-0.4-1.4-0.8-2.3-1c-0.7-0.2-1.4-0.4-2.2-0.6c-0.7-0.2-1.3-0.4-1.9-0.6      c-0.5-0.2-0.9-0.5-1.3-0.8c-0.3-0.3-0.6-0.6-0.8-1.1c-0.1-0.3-0.3-0.9-0.3-1.8c0-0.5,0.1-1,0.3-1.5c0.2-0.5,0.4-0.9,0.8-1.2      c0.3-0.4,0.8-0.7,1.4-0.9c0.6-0.2,1.3-0.4,2.1-0.4c0.8,0,1.5,0.1,2,0.4c0.5,0.2,1,0.6,1.3,0.9c0.3,0.4,0.6,0.9,0.8,1.4      c0.2,0.6,0.8,0.9,1.5,0.7c0.6-0.2,0.9-0.8,0.7-1.5c-0.3-0.8-0.7-1.6-1.2-2.2c-0.6-0.7-1.3-1.2-2.1-1.6c-0.5-0.2-1.2-0.4-1.8-0.5      v-0.8c0-0.6-0.5-1.2-1.2-1.2c-0.6,0-1.2,0.5-1.2,1.2v0.8c-0.7,0.1-1.3,0.2-1.8,0.5c-0.9,0.4-1.6,0.8-2.1,1.4      c-0.6,0.6-1,1.3-1.3,2c-0.3,0.7-0.4,1.5-0.4,2.3c0,1.1,0.2,2.1,0.5,2.8c0.3,0.8,0.8,1.4,1.4,1.9c0.6,0.5,1.2,0.9,2,1.2      c0.7,0.3,1.4,0.5,2.2,0.7c0.7,0.2,1.4,0.4,2.1,0.6c0.6,0.2,1.2,0.5,1.7,0.8c0.5,0.3,0.9,0.7,1.2,1.2c0.3,0.5,0.5,1.2,0.5,2      c0,0.6-0.1,1.2-0.3,1.7c-0.2,0.5-0.4,1-0.8,1.4c-0.3,0.4-0.8,0.7-1.3,0.9c-0.5,0.2-1.2,0.3-2,0.3c-0.7,0-1.3-0.1-1.8-0.3      c-0.6-0.2-1-0.5-1.5-0.9c-0.4-0.4-0.8-0.9-1.1-1.6c-0.3-0.6-0.9-0.9-1.5-0.6c-0.6,0.3-0.9,0.9-0.6,1.5c0.4,1,1,1.8,1.7,2.4      c0.7,0.6,1.5,1.1,2.3,1.4c0.3,0.1,0.7,0.2,1.1,0.3v0.9c0,0.6,0.5,1.2,1.2,1.2c0.6,0,1.2-0.5,1.2-1.2v-0.8c0.7-0.1,1.4-0.2,2-0.5      c0.9-0.4,1.6-0.9,2.2-1.5c0.6-0.6,1-1.4,1.3-2.2c0.3-0.8,0.4-1.6,0.4-2.4c0-1.3-0.3-2.4-0.8-3.2C65.8,31.6,65.2,30.9,64.4,30.4z      " fill="#62355C"></path>
        </g>
        <g>
            <path d="      M60.2,39.9" fill="none" stroke="#404243" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2.5"></path>
        </g>
        </g>
        <path d="M35.9,40c3.9,9.7,13.3,16.5,24.4,16.5S80.7,49.7,84.6,40H35.9z" fill="#593055" opacity="0.2"></path>
        <g>
        <path d="M97.8,49h-75h-7.5c-4.1,0-7.5-3.4-7.5-7.5V64v45c0,8.3,6.7,15,15,15h75c8.3,0,15-6.7,15-15V64     C112.8,55.7,106,49,97.8,49z" fill="#938993"></path>
        </g>
        <path d="M19.8,109V64V49h-4.5c-4.1,0-7.5-3.4-7.5-7.5V64v45c0,8.3,6.7,15,15,15h12    C26.5,124,19.8,117.3,19.8,109z" fill="#593055" opacity="0.2"></path>
        <g>
        <path d="M97.8,125.2h-75c-9,0-16.2-7.3-16.2-16.2V41.5c0-0.7,0.6-1.2,1.2-1.2S9,40.8,9,41.5     c0,3.4,2.8,6.2,6.2,6.2h82.5c9,0,16.2,7.3,16.2,16.2v45C114,118,106.7,125.2,97.8,125.2z M9,47.6V109c0,7.6,6.2,13.8,13.8,13.8     h75c7.6,0,13.8-6.2,13.8-13.8V64c0-7.6-6.2-13.8-13.8-13.8H15.2C12.8,50.2,10.6,49.2,9,47.6z" fill="#62355C"></path>
        </g>
        <g>
        <path d="M112.8,71.5h-7.9h-6.7c-8,0-14.9,6-15.4,14c-0.5,7.6,4.7,14.1,11.8,15.6h18.3c4.1,0,7.5-3.4,7.5-7.5V71.5     V64C120.2,68.1,116.9,71.5,112.8,71.5z" fill="#65C5B4"></path>
        </g>
        <g>
        <path d="M112.8,71.5h-7.9h-6.7c-8,0-14.9,6-15.4,14c-0.2,3.3,0.6,6.4,2.2,8.9c2.7,4.3,7.6,6.7,12.7,6.7h15.1     c4.1,0,7.5-3.4,7.5-7.5V71.5V64C120.2,68.1,116.9,71.5,112.8,71.5z" fill="#E8E8E8"></path>
        </g>
        <g>
        <path d="M112.8,102.4H97.7c-5.7,0-11-2.8-13.8-7.3c-1.8-2.9-2.6-6.2-2.4-9.6c0.5-8.5,7.9-15.2,16.7-15.2h14.6     c3.4,0,6.2-2.8,6.2-6.2c0-0.7,0.6-1.2,1.2-1.2s1.2,0.6,1.2,1.2v29.7C121.5,98.5,117.6,102.4,112.8,102.4z M98.1,72.8     c-7.5,0-13.7,5.6-14.2,12.9c-0.2,2.9,0.5,5.7,2,8.2c2.4,3.8,6.8,6.1,11.7,6.1h15.1c3.4,0,6.2-2.8,6.2-6.2V70.1     c-1.6,1.6-3.8,2.6-6.2,2.6H98.1z" fill="#62355C"></path>
        </g>
    </g>
    <g>
        <circle cx="97.7" cy="86.5" fill="#FEE444" r="7.5"></circle>
    </g>
    <g>
        <circle cx="97.7" cy="86.5" fill="#65C5B4" r="7.5"></circle>
    </g>
    <g>
        <path d="M97.7,95.2c-4.8,0-8.8-3.9-8.8-8.8s3.9-8.8,8.8-8.8s8.8,3.9,8.8,8.8S102.5,95.2,97.7,95.2z M97.7,80.2    c-3.4,0-6.2,2.8-6.2,6.2s2.8,6.2,6.2,6.2s6.2-2.8,6.2-6.2S101.1,80.2,97.7,80.2z" fill="#62355C"></path>
    </g>
    </g>
</svg>
