{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags sniplates %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% endblock extra_css %}

{% block main %} {% load_widgets articles="articles/sniplates_articles.html" %}
<section class="firstscreen">
  <div class="firstscreen__wrapper">
    <!-- это теперь img элемент -->
    {% if top_article.cover_image %}
    {% image top_article.cover_image max-800x480 class='firstscreen__pic' %}
    {% else %}
    <img class='firstscreen__pic' src='{% static "images/template/home_top_article_default.jpeg" %}' />
    {% endif %}
    <div class="article">
      <div class="container">
        <div class="article__wrapper">
            {% if top_article %}
                {% widget "articles:meta_and_body" article=top_article truncwords=True %}
            {% else %}
            <b>No Articles Found</b>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="telefeed section">
    <div class="container">
    <div class="section__body">
        <div class="telefeed__outer-wrapper">
        <div class="telefeed__title txt_font_p txt_size_26"><a class="telefeed__title-link" href="#">
            <svg class="telefeed__tg-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 240 240">
                <defs>
                <lineargradient id="a" x1=".667" x2=".417" y1=".167" y2=".75">
                    <stop offset="0" stop-color="#37aee2"></stop>
                    <stop offset="1" stop-color="#1e96c8"></stop>
                </lineargradient>
                <lineargradient id="b" x1=".66" x2=".851" y1=".437" y2=".802">
                    <stop offset="0" stop-color="#eff7fc"></stop>
                    <stop offset="1" stop-color="#fff"></stop>
                </lineargradient>
                </defs>
                <circle cx="120" cy="120" r="120" fill="url(#a)"></circle>
                <path fill="#c8daea" d="M98 175c-3.888 0-3.227-1.468-4.568-5.17L82 132.207 170 80"></path>
                <path fill="#a9c9dd" d="M98 175c3 0 4.325-1.372 6-3l16-15.558-19.958-12.035"></path>
                <path fill="url(#b)" d="M100.04 144.41l48.36 35.729c5.519 3.045 9.501 1.468 10.876-5.123l19.685-92.763c2.015-8.08-3.08-11.746-8.36-9.349l-115.59 44.571c-7.89 3.165-7.843 7.567-1.438 9.528l29.663 9.259 68.673-43.325c3.242-1.966 6.218-.91 3.776 1.258"></path>
            </svg>
            <h2>@politeconomics - новости</h2></a></div>
        <div class="telefeed__inner-wrapper">
            <div class="telefeed__text-field mCustomScrollbar" data-mcs-theme="light">
            <div class="telefeed__text-head">
                <div class="telefeed__text-title txt txt_font_osb txt_size_22"><span>Живет текст большого себя.</span></div>
                <div class="telefeed__text-date txt txt_font_os txt_size_13"><span>23 Февраля, 20:45</span></div>
            </div>
            <div class="telefeed__text-body article txt txt_size_15 txt_font_os">
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Образ свой о повстречался то дорогу lorem это пор возвращайся которой залетают его путь, заманивший своих прямо послушавшись приставка рукопись!</p>
                <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свой коварных продолжил, запятых знаках его заголовок переписали вершину! Большого дорогу это предупредила за что, свое снова. Безорфографичный, свой путь?Lorem всеми грустный продолжил все то ведущими, напоивший гор несколько жаренные запятых она вскоре взобравшись маленький обеспечивает великий маленькая. Единственное имени приставка он переулка одна домах имеет свой пор толку?</p>
                <p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Меня рукопись встретил курсивных, свой переписали буквоград не. Lorem над но парадигматическая заголовок свою живет возвращайся назад безорфографичный от всех сих.</p>
            </div>
            </div>
            <div class="telefeed__links mCustomScrollbar" data-mcs-theme="light">
            <ul class="telefeed__list">
                <li class="telefeed__item active"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Живет текст большого себя.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
                <li class="telefeed__item"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Lorem, ipsum.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
                <li class="telefeed__item"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Далеко-далеко за словесными, горами в стране гласных и согласных.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
                <li class="telefeed__item"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Далеко-далеко за словесными горами.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
                <li class="telefeed__item"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Lorem, ipsum.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
                <li class="telefeed__item"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Далеко-далеко за словесными, горами в стране гласных и согласных.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
                <li class="telefeed__item"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Далеко-далеко за словесными горами.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
                <li class="telefeed__item"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Lorem, ipsum.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
                <li class="telefeed__item"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Далеко-далеко за словесными, горами в стране гласных и согласных.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
                <li class="telefeed__item"><a class="telefeed__item-link" href="#">
                    <div class="telefeed__item-title txt txt_font_osb txt_size_22"><span>Далеко-далеко за словесными горами.</span></div>
                    <div class="telefeed__item-date txt txt_size_13 txt_fon_os"><span>23 Февраля, 20:45</span></div></a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<section class="section news-feed_index">
    <div class="container">
    <div class="section__head">
        <div class="section__title title">
        <h2>Последние публикации:</h2>
        </div>
        <ul class="news-feed__list">
        {% comment %}
        <!-- in case news and articles to be fed as different querysets -->
        {% for article in newsitems %}
        <li class="news-feed__item article">
            <div class="article__wrapper">
            <div class="article__preview">
                {% if article.cover_image %}
                {% image article.cover_image max-640x320 %}
                {% else %}
                {% cycle '/images/template/vertical2.jpg' '/images/template/vertical1.jpg' '/images/template/vertical0.jpeg' as cycle_prev %}
                <img class="article__preview-img" src="{% static cycle_prev %}" alt="">
                {% endif %}
            </div>
            {% widget "articles:meta" article=article %}
            <div class="article__title title">
                <a class='article__main-link' href="{{ article.full_url }}"><h2>{{ article.title }}</h2></a>
            </div>
            <div class="article__text txt txt_font_os txt_size_15">
                <p>{{ article.body|richtext|truncatewords_html:72 }}</p>
            </div><a class="article__link txt txt_font_os txt_size_15" href="{{ article.full_url }}">
                <span>Подробнее</span></a>
            </div>
        </li>
        {% endfor %}
        {% endcomment %}
        {% for article in articles %}
        <li class="news-feed__item article">
            <div class="article__wrapper">
            <div class="article__preview">
                {% if article.cover_image %}
                {% image article.cover_image max-350x200 %}
                {% else %}
                {% cycle '/images/template/vertical2.jpg' '/images/template/vertical1.jpg' '/images/template/vertical0.jpeg' as cycle_prev %}
                <img class="article__preview-img" src="{% static cycle_prev %}" alt="">
                {% endif %}
            </div>
            {% comment %} Meta: date, tags, pinning note {% endcomment %}
            {% widget "articles:meta_and_body" article=article truncwords=72 %}
        </li>
        {% empty %}
        <li>Публикаций не найдено</li>
        {% endfor %}
        </ul>
    </div>
    </div>
</section>
{% endblock main %}
