{% extends "base.html" %} {% load i18n %}

{% block body_class %}template-404{% endblock %}


{% block header1 %}<h1>{% trans 'Page not found' %} 404</h1>{% endblock header1 %}
{% block header2 %}<h2>Sorry, this page could not be found.</h2>{% endblock header2 %}
