{% load static wagtailimages_tags nd_core_tags wagtailcore_tags %}
<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__logo logo">
        <a class="logo__link" href="/">
        {% with settings.core.NewDealSettings.main_logo as logo %}
            {% if logo %}
            {% image logo max-150x80 %}
            {% else %}
            <img class="logo__img" src="{% static 'images/header/logo.png' %}" alt="New Deal" />
            {% endif %}
        {% endwith %}
        </a>
    </div>
    <div class="footer__support support">
    </div>
        {% group_refs reference_links as grouped_links %}
        {% for group in grouped_links %}
        <div class="footer__socials socials">
            <div class="socials__title txt txt_font_osb txt_size_18">
                <span>{{ group.0.label }}</span>
            </div>
            <ul class="socials__list">
            {% for link in group %}
            <li class="socials__item">
                <a class="socials__link" href="{{ link.url }}">{{ link.reftype.icon_code|safe }}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
  </div>
</footer>
