*
	box-sizing: border-box
	&:hover
		outline: none
	&:focus
		outline: none

html
	width: 100%
	font-size: 16px
	overflow-y: scroll

body
	height: 100%
	line-height: 1.42
	-webkit-font-smoothing:antialiased
	margin: 0
	display: flex
	flex-direction: column
	background-color: $white0
	color: $black0
	font-size: 20px
	min-height: 100vh
	&.frozen
		overflow: hidden

main
	flex: 1
	display: flex
	flex-flow: column nowrap

section, .section
	position: relative
	width: 100%
	overflow: hidden
	padding: 30px 0
	+xxs-block
		padding: 15px 0

ul, ol
	padding: 0
	margin: 0

li
	list-style: none

a
	text-decoration: none
	&:hover
		text-decoration: none

button
	cursor: pointer
	background-color: transparent
	border: 0px solid transparent

button, input, a, textarea
	&:focus
		outline: 0
		text-decoration: none

p
	margin: 0

h1, h2, h3, h4, h5
	margin-top: 0
	margin-bottom: 0
	font-weight: normal
	font-size: 100%

img
	height: auto
	max-width: 100%

input,textarea,select
	font-family: inherit
	font-size: inherit
	font-weight: inherit

table
	border-collapse: collapse

//sticky-footer
.wrapper
	flex: 1
	display: flex
	flex-flow: column nowrap
	align-items: stretch
	justify-content: flex-start
	position: relative
	&::after
		position: absolute
		content: ''
		left: 0
		top: 0
		width: 100%
		height: 100%
		opacity: 0
		z-index: -100
		background-color: rgba(#000, .6)
	&.faded
		&::after
			opacity: 1
			z-index: 2


//smartgrid-container
.container
	width: 100%
	+container
