@font-face
  font-family: 'OpenSans-regular'
  src: url('../fonts/OpenSans-Regular.woff')
  src: url('../fonts/OpenSans-Regular.svg'), url('../fonts/OpenSans-Regular.ttf'), url('../fonts/OpenSans-Regular.otf'), url('../fonts/OpenSans-Regular.eot')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSans-bold'
  src: url('../fonts/OpenSans-Bold.woff')
  src: url('../fonts/OpenSans-Bold.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Play-regular'
  src: url('../fonts/Play-Regular.woff')
  src: url('../fonts/Play-Regular.svg'), url('../fonts/Play-Regular.ttf'), url('../fonts/Play-Regular.otf'), url('../fonts/Play-Regular.eot')
  font-weight: normal
  font-style: normal
