//text
//font-family
=font($font: os)
  @if $font == os
    font-family: 'OpenSans-regular'
    font-style: normal
    font-weight: normal
  @if $font == osb
    font-family: 'OpenSans-bold'
    font-style: normal
    font-weight: normal
  @if $font == p
    font-family: 'Play-regular'
    font-style: normal
    font-weight: normal
    font-weight: normal

//margins
//right
=mr40
  margin-right: 40px

=mr30
  margin-right: 30px

=mr15
  margin-right: 15px

//bottom
=mb55
  margin-bottom: 55px
  +sm-block
    margin-bottom: 35px
  +xxs-block
    margin-bottom: 25px

=mb50
  margin-bottom: 50px
  +sm-block
    margin-bottom: 30px
  +xxs-block
    margin-bottom: 22px

=mb45
  margin-bottom: 45px
  +sm-block
    margin-bottom: 30px
  +xxs-block
    margin-bottom: 20px

=mb40
  margin-bottom: 40px
  +sm-block
    margin-bottom: 25px
  +xxs-block
    margin-bottom: 18px

=mb35
  margin-bottom: 35px
  +sm-block
    margin-bottom: 20px
  +xxs-block
    margin-bottom: 18px

=mb30
  margin-bottom: 30px
  +sm-block
    margin-bottom: 15px


=mb25
  margin-bottom: 25px
  +sm-block
    margin-bottom: 15px
  +xxs-block
    margin-bottom: 12px

=mb20
  margin-bottom: 20px
  +sm-block
    margin-bottom: 10px
  +xxs-block
    margin-bottom: 8px

=mb15
  margin-bottom: 15px
  +sm-block
    margin-bottom: 8px
