$columns: 12
$atom: (100% / $columns)

$break_md: 992px
$break_sm: 768px
$break_xxs: 640px
$break_xs: 480px
$break_xss: 380px
$break_min: 320px

$offset: 40px
$offset_md: $offset
$offset_sm: $offset
$offset_xxs: $offset
$offset_xs: $offset
$offset_xss: $offset
$offset_min: $offset

$offset_one_side: ($offset / 2)
$offset_md_one_side: ($offset_md / 2)
$offset_sm_one_side: ($offset_sm / 2)
$offset_xxs_one_side: ($offset_xxs / 2)
$offset_xs_one_side: ($offset_xs / 2)
$offset_xss_one_side: ($offset_xss / 2)
$offset_min_one_side: ($offset_min / 2)

$fields: 20px
$fields_xxs: 10px

=container-full()
    padding-left: $fields
    padding-right: $fields

    +xxs-block()
        padding-left: $fields_xxs
        padding-right: $fields_xxs

=row-offsets()
    margin-left: ($offset_one_side * -1)
    margin-right: ($offset_one_side * -1)

=col-offsets($type)
    #{$type}-left: $offset_one_side
    #{$type}-right: $offset_one_side

=container()
    max-width: 1024px
    margin: 0 auto
    +container-full()

=row-flex()
    display: flex
    flex-wrap: wrap
    +row-offsets()

=row-float()
    +row-offsets()
    +clearfix()

=row-ib()
    +row-offsets()

=col()
    box-sizing: border-box
    word-wrap: break-word
    +col-offsets(margin)

=col-float()
    float: left

=col-ib()
    display: inline-block
    vertical-align: top

=col-padding()
    word-wrap: break-word
    +col-offsets(padding)

=size($n)
    $val: 100% / $columns * $n
    width: #{calc(#{$val} - #{$offset})}

=size-md($n)
    $val: 100% / $columns * $n
    +md(width, #{calc(#{$val} - #{$offset_md})})

=size-sm($n)
    $val: 100% / $columns * $n
    +sm(width, #{calc(#{$val} - #{$offset_sm})})

=size-xxs($n)
    $val: 100% / $columns * $n
    +xxs(width, #{calc(#{$val} - #{$offset_xxs})})

=size-xs($n)
    $val: 100% / $columns * $n
    +xs(width, #{calc(#{$val} - #{$offset_xs})})

=size-xss($n)
    $val: 100% / $columns * $n
    +xss(width, #{calc(#{$val} - #{$offset_xss})})

=size-min($n)
    $val: 100% / $columns * $n
    +min(width, #{calc(#{$val} - #{$offset_min})})

=shift($n)
    $val: 100% / $columns * $n
    margin-left: #{calc(#{$val} + #{$offset_one_side})}
    margin-right: #{calc(#{$val} + #{$offset_one_side})}

=shift-left($n)
    $val: 100% / $columns * $n
    margin-left: #{calc(#{$val} + #{$offset_one_side})}

=shift-right($n)
    $val: 100% / $columns * $n
    margin-right: #{calc(#{$val} + #{$offset_one_side})}

=shift-padding($n)
    $val: 100% / $columns * $n
    padding-left: #{calc(#{$val} + #{$offset_one_side})}
    padding-right: #{calc(#{$val} + #{$offset_one_side})}

=shift-padding-left($n)
    $val: 100% / $columns * $n
    padding-left: #{calc(#{$val} + #{$offset_one_side})}

=shift-padding-right($n)
    $val: 100% / $columns * $n
    padding-right: #{calc(#{$val} + #{$offset_one_side})}

=shift-md($n)
    $val: 100% / $columns * $n
    +md(margin-left, #{calc(#{$val} + #{$offset_md_one_side})})
    +md(margin-right, #{calc(#{$val} + #{$offset_md_one_side})})

=shift-md-left($n)
    $val: 100% / $columns * $n
    +md(margin-left, #{calc(#{$val} + #{$offset_md_one_side})})

=shift-md-right($n)
    $val: 100% / $columns * $n
    +md(margin-right, #{calc(#{$val} + #{$offset_md_one_side})})

=shift-md-padding($n)
    $val: 100% / $columns * $n
    +md(padding-left, #{calc(#{$val} + #{$offset_md_one_side})})
    +md(padding-right, #{calc(#{$val} + #{$offset_md_one_side})})

=shift-md-padding-left($n)
    $val: 100% / $columns * $n
    +md(padding-left, #{calc(#{$val} + #{$offset_md_one_side})})

=shift-md-padding-right($n)
    $val: 100% / $columns * $n
    +md(padding-right, #{calc(#{$val} + #{$offset_md_one_side})})

=shift-sm($n)
    $val: 100% / $columns * $n
    +sm(margin-left, #{calc(#{$val} + #{$offset_sm_one_side})})
    +sm(margin-right, #{calc(#{$val} + #{$offset_sm_one_side})})

=shift-sm-left($n)
    $val: 100% / $columns * $n
    +sm(margin-left, #{calc(#{$val} + #{$offset_sm_one_side})})

=shift-sm-right($n)
    $val: 100% / $columns * $n
    +sm(margin-right, #{calc(#{$val} + #{$offset_sm_one_side})})

=shift-sm-padding($n)
    $val: 100% / $columns * $n
    +sm(padding-left, #{calc(#{$val} + #{$offset_sm_one_side})})
    +sm(padding-right, #{calc(#{$val} + #{$offset_sm_one_side})})

=shift-sm-padding-left($n)
    $val: 100% / $columns * $n
    +sm(padding-left, #{calc(#{$val} + #{$offset_sm_one_side})})

=shift-sm-padding-right($n)
    $val: 100% / $columns * $n
    +sm(padding-right, #{calc(#{$val} + #{$offset_sm_one_side})})

=shift-xxs($n)
    $val: 100% / $columns * $n
    +xxs(margin-left, #{calc(#{$val} + #{$offset_xxs_one_side})})
    +xxs(margin-right, #{calc(#{$val} + #{$offset_xxs_one_side})})

=shift-xxs-left($n)
    $val: 100% / $columns * $n
    +xxs(margin-left, #{calc(#{$val} + #{$offset_xxs_one_side})})

=shift-xxs-right($n)
    $val: 100% / $columns * $n
    +xxs(margin-right, #{calc(#{$val} + #{$offset_xxs_one_side})})

=shift-xxs-padding($n)
    $val: 100% / $columns * $n
    +xxs(padding-left, #{calc(#{$val} + #{$offset_xxs_one_side})})
    +xxs(padding-right, #{calc(#{$val} + #{$offset_xxs_one_side})})

=shift-xxs-padding-left($n)
    $val: 100% / $columns * $n
    +xxs(padding-left, #{calc(#{$val} + #{$offset_xxs_one_side})})

=shift-xxs-padding-right($n)
    $val: 100% / $columns * $n
    +xxs(padding-right, #{calc(#{$val} + #{$offset_xxs_one_side})})

=shift-xs($n)
    $val: 100% / $columns * $n
    +xs(margin-left, #{calc(#{$val} + #{$offset_xs_one_side})})
    +xs(margin-right, #{calc(#{$val} + #{$offset_xs_one_side})})

=shift-xs-left($n)
    $val: 100% / $columns * $n
    +xs(margin-left, #{calc(#{$val} + #{$offset_xs_one_side})})

=shift-xs-right($n)
    $val: 100% / $columns * $n
    +xs(margin-right, #{calc(#{$val} + #{$offset_xs_one_side})})

=shift-xs-padding($n)
    $val: 100% / $columns * $n
    +xs(padding-left, #{calc(#{$val} + #{$offset_xs_one_side})})
    +xs(padding-right, #{calc(#{$val} + #{$offset_xs_one_side})})

=shift-xs-padding-left($n)
    $val: 100% / $columns * $n
    +xs(padding-left, #{calc(#{$val} + #{$offset_xs_one_side})})

=shift-xs-padding-right($n)
    $val: 100% / $columns * $n
    +xs(padding-right, #{calc(#{$val} + #{$offset_xs_one_side})})

=shift-xss($n)
    $val: 100% / $columns * $n
    +xss(margin-left, #{calc(#{$val} + #{$offset_xss_one_side})})
    +xss(margin-right, #{calc(#{$val} + #{$offset_xss_one_side})})

=shift-xss-left($n)
    $val: 100% / $columns * $n
    +xss(margin-left, #{calc(#{$val} + #{$offset_xss_one_side})})

=shift-xss-right($n)
    $val: 100% / $columns * $n
    +xss(margin-right, #{calc(#{$val} + #{$offset_xss_one_side})})

=shift-xss-padding($n)
    $val: 100% / $columns * $n
    +xss(padding-left, #{calc(#{$val} + #{$offset_xss_one_side})})
    +xss(padding-right, #{calc(#{$val} + #{$offset_xss_one_side})})

=shift-xss-padding-left($n)
    $val: 100% / $columns * $n
    +xss(padding-left, #{calc(#{$val} + #{$offset_xss_one_side})})

=shift-xss-padding-right($n)
    $val: 100% / $columns * $n
    +xss(padding-right, #{calc(#{$val} + #{$offset_xss_one_side})})

=shift-min($n)
    $val: 100% / $columns * $n
    +min(margin-left, #{calc(#{$val} + #{$offset_min_one_side})})
    +min(margin-right, #{calc(#{$val} + #{$offset_min_one_side})})

=shift-min-left($n)
    $val: 100% / $columns * $n
    +min(margin-left, #{calc(#{$val} + #{$offset_min_one_side})})

=shift-min-right($n)
    $val: 100% / $columns * $n
    +min(margin-right, #{calc(#{$val} + #{$offset_min_one_side})})

=shift-min-padding($n)
    $val: 100% / $columns * $n
    +min(padding-left, #{calc(#{$val} + #{$offset_min_one_side})})
    +min(padding-right, #{calc(#{$val} + #{$offset_min_one_side})})

=shift-min-padding-left($n)
    $val: 100% / $columns * $n
    +min(padding-left, #{calc(#{$val} + #{$offset_min_one_side})})

=shift-min-padding-right($n)
    $val: 100% / $columns * $n
    +min(padding-right, #{calc(#{$val} + #{$offset_min_one_side})})

=md($name, $value)
    @media screen and (max-width: $break_md)
        #{$name}: $value

=md-block()
    @media screen and (max-width: $break_md)
        @content

=sm($name, $value)
    @media screen and (max-width: $break_sm)
        #{$name}: $value

=sm-block()
    @media screen and (max-width: $break_sm)
        @content

=xxs($name, $value)
    @media screen and (max-width: $break_xxs)
        #{$name}: $value

=xxs-block()
    @media screen and (max-width: $break_xxs)
        @content

=xs($name, $value)
    @media screen and (max-width: $break_xs)
        #{$name}: $value

=xs-block()
    @media screen and (max-width: $break_xs)
        @content

=xss($name, $value)
    @media screen and (max-width: $break_xss)
        #{$name}: $value

=xss-block()
    @media screen and (max-width: $break_xss)
        @content

=min($name, $value)
    @media screen and (max-width: $break_min)
        #{$name}: $value

=min-block()
    @media screen and (max-width: $break_min)
        @content

=from($min_width)
    @media screen and (min-width: $min_width)
        @content

=to($max_width)
    @media screen and (max-width: $max_width)
        @content

=from-to($min_width, $max_width)
    @media screen and (min-width: $min_width) and (max-width: $max_width)
        @content

=u-row-flex($offset)
    display: flex
    flex-wrap: wrap
    margin-left: ($offset / -2)
    margin-right: ($offset / -2)

=u-col($offset)
    box-sizing: border-box
    word-wrap: break-word
    margin-left: ($offset / 2)
    margin-right: ($offset / 2)

=u-size($n, $columns, $offset)
    width: #{calc(100% / #{$columns} * #{$n} - #{$offset})}

=reset()
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td
        margin: 0
        padding: 0

    table
        border-collapse: collapse
        border-spacing: 0

    fieldset,img,abbr
        border: 0

    address,caption,cite,code,dfn,em,strong,th,var
        font-style: normal
        font-weight: normal

    ul li
        list-style: none

    caption,th
        text-align: left

    h1,h2,h3,h4,h5,h6
        font-size: 100%
        font-weight: normal

    sup
        vertical-align: text-top

    sub
        vertical-align: text-bottom

    input,textarea,select
        font-family: inherit
        font-size: inherit
        font-weight: inherit

    legend
        color: #000

    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main
        display: block

    img
        max-width: 100%
        height: auto

=debug($background, $outline)
    height: 100vh
    position: fixed
    width: 100%

    > div
        height: inherit
        +container()

        > div
            height: inherit
            +row-flex()

            > div
                +col()
                +size(1)
                height: inherit
                outline: $outline
                background: $background

=clearfix()
    &::after
        display: block
        content: ""
        clear: both
