.txt
  &_font
    &_os
      +font(os)
    &_osb
      +font(osb)
    &_p
      +font(p)
  &_size
    &_logo
      font-size: 15px
    &_26
      font-size: 26px
      +sm-block
        font-size: 22px
      +xxs-block
        font-size: 18px
    &_22
      font-size: 22px
      +sm-block
        font-size: 18px
      +xxs-block
        font-size: 16px
    &_18
      font-size: 18px
      +sm-block
        font-size: 15px
    &_15
      font-size: 15px
      +sm-block
        font-size: 13px
    &_13
      font-size: 13px
      +sm-block
        font-size: 11px
  p
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0
  b
    font-weight: 600

.title
  line-height: 1.2
  +font(p)
  h1
    font-size: 60px
    +sm-block
      font-size: 30px
    +xxs-block
      font-size: 26px
  h2
    font-size: 30px
    +sm-block
      font-size: 26px
    +xxs-block
      font-size: 22px
  h3
  h4
  h5
