<div class="container">
  <div *ngIf="categoriesLoaded === true">
    <highcharts-chart [Highcharts]="highcharts" [options]="options"
                      [oneToOne]="'true'" [update]="'true'"
                      #chart>
    </highcharts-chart>
  
    <newDealGrid [data]="getTableData()" [columns]="getTableColumns()"
                 [configuration]="configuration" [rowSelect]="selectionChanged.bind(this)" #newDealGrid></newDealGrid>
  </div>
</div>

