.footer
  background-color: $black1
  padding: 10px 0
  padding-bottom: 10px
  &__wrapper
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    padding: 0px 60px
    +sm-block
      align-items: flex-start
      justify-content: space-between
    +xs-block
      flex-flow: column nowrap
      align-items: center
      justify-content: flex-start
  &__logo
    margin-right: auto
    +sm-block
      margin-bottom: 20px
    +xs-block
      margin: 0 auto
  &__main-menu
    padding: 0 40px
    +sm-block
      padding: 0
    .main-menu__title
      color: $gray2
      margin-bottom: 20px
    .main-menu__link
      color: $gray1
      font-size: 0
    .main-menu__item
      margin-right: 35px
      &:last-child
        margin-right: 0
  &__socials
    padding: 0 40px
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
    +sm-block
      padding: 0
      flex-flow: column nowrap
    +xs-block
      margin-bottom: 20px
    .socials__title
      color: $gray2
      +xxs-block
        margin-bottom: 10px
    .socials__item
      margin-right: 20px
      display: flex
      flex-flow: row nowrap
      align-items: center
      &:last-child
        margin-right: 0
  &__support
    text-align: right
    color: $gray2
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
    +sm-block
      flex-flow: column nowrap
      align-items: center
      flex-grow: 1
    +xs-block
      margin-bottom: 20px

.wagtail-userbar--bottom-right
  bottom: 16px
  right: 1em


.socials
  &__title
    text-align: center
    margin-right: 20px
  &__list
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
  &__item
    font-size: 0
  &__link
    display: inline-block
    font-size: 0
    svg
      width: 30px
      height: 30px
      transition: .3s all linear
      &:hover
        transform: scale(1.2)

.support
  &__title
    margin-right: 20px
    +xs-block
      margin-right: 0
      margin-bottom: 10px
  &__link
    display: inline-block
    font-size: 0
  svg
    width: 40px
    transition: .3s all linear
    &:hover
      transform: scale(1.2)
