.telefeed
  .mCSB_scrollTools
    +sm-block
      width: 2px
  &__outer-wrapper
  &__title
    +mb30
  &__inner-wrapper
    display: flex
    flex-flow: row wrap
    align-items: stretch
    justify-content: space-between
    height: 40vh
    +sm-block
      height: 60vh
  &__title-link
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    color: $blue0
    width: max-content
    margin: 0 auto
    transition: .3s all linear
    &:hover
      color: $yellow0
  &__tg-logo
    width: 30px
    margin-right: 10px
  &__text-field
    flex-basis: 60%
    height: 40vh
    .mCSB_scrollTools
      right: unset
      left: 0
    .mCSB_container
      padding-left: 22px
    +sm-block
      flex-basis: 100%
      height: 35vh
      padding-bottom: 10px
      .mCSB_container
        padding-left: 10px
  &__text-head
    +mb25
  &__text-title
    text-transform: uppercase
    +mb15
  &__links
    flex-basis: 40%
    border-left: 1px solid $black0
    height: 40vh
    .mCSB_inside>.mCSB_container
      margin-right: 7px
      +sm-block
        margin-right: 0
    +sm-block
      flex-basis: 100%
      height: 25vh
      border-left: 0px solid $black0
  &__item
    padding: 15px 10px 15px 30px
    background-color: $gray0
    position: relative
    transition: .3s all linear
    &::after
      content: ''
      position: absolute
      left: 10%
      width: 80%
      height: 1px
      bottom: 0
      background-color: darken($gray0, 15%)
    &.active
      background-color: $blue0
      &::after
        background-color: $black0
      .telefeed__item-title
        color: #ffffff
      .telefeed__item-date
        color: #ffffff
    &:hover
      background-color: lighten($yellow0, 25%)
      .telefeed__item-title
        color: #000
      .telefeed__item-date
        color: #000
    &:last-child
      &::after
        display: none
    +sm-block
      padding: 15px
      &:hover
        background-color: $gray0
        .telefeed__item-title
          color: $black0
        .telefeed__item-date
          color: $black0
    +xxs-block
      padding: 8px
  &__item-link
    color: $black0
    text-align: right
    +sm-block
      text-align: left
  &__item-title
    transition: .3s all linear
  &__item-date
    transition: .3s all linear
