.article
  &__wrapper
  &__preview
    text-align: center
    font-size: 0
    +mb30
  &__preview-img
    max-height: 33vh
  &__meta
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
    text-transform: uppercase
    +mb40
  &__date
    margin-right: 20px
    white-space: nowrap
    margin-bottom: 5px
    margin-top: 5px
    span
      display: inline-block
      vertical-align: middle
  &__important
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: flex-start
    margin-right: 20px
    position: relative
    margin-right: 15px
    margin-bottom: 5px
    margin-top: 5px
    &:last-child
      margin-right: 0
    span
      padding: 5px 10px
      background-color: transparent
      color: #A00
      border: 2px solid #A00
    &:hover
      .article__important-popup
        transform: translateX(-50%) scale(1)
  &__important-popup
    position: absolute
    z-index: 5
    width: 200px
    left: 50%
    bottom: calc(100% + 5px)
    transform: translateX(-50%) scale(0)
    background-color: #fff
    border: 1px solid $black0
    padding: 10px 5px
    transition: .3s all linear
    span
      color: $black0
      background-color: transparent
      text-transform: none
      border: none
  &__type
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: flex-start
    margin-right: 15px
    margin-bottom: 5px
    margin-top: 5px
    &:last-child
      margin-right: 0
    span
      padding: 5px 10px
      background-color: $black0
      color: #ffffff
  &__title
    text-transform: uppercase
    margin-bottom: 10px
  &__main-link
    text-decoration: none !important
  &__pic
    background-color: $gray1
    padding: 10px
    width: max-content
    margin: 0 auto
    display: flex
    flex-flow: column nowrap
    align-items: center
    max-width: 100%
    +mb40
  &__img
    text-align: center
    max-width: 100%
  &__link
    text-transform: uppercase
    display: inline-block
    background-color: $black0
    padding: 10px 25px
    color: #fff !important
    text-decoration: none !important
    transition: .3s all linear
    &:hover
      background-color: $yellow0
      color: #ffffff
  h3
    +font(p)
    font-size: 25px
    text-transform: uppercase
    margin: 35px 0 10px
    +xxs-block
      font-size: 22px
  h4
    +font(p)
    font-size: 20px
    margin: 25px 0 10px
    +xxs-block
      font-size: 18px
  p
    +mb15
    &:last-child
      +mb55
  ul
    +mb15
    li
      position: relative
      padding-left: 10px
      &::before
        content: ''
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        width: 4px
        height: 4px
        background-color: $black0
        border-radius: 50%
  ol
    +mb15
    li
      list-style-type: decimal
      list-style-position: inside
  a
    color: #000000
    text-decoration: underline
    transition: .3s all linear
    &:hover
      color: $yellow0
