.header
  position: sticky
  top: 0
  width: 100%
  background-color: rgba($gray0, .9)
  border-bottom: 1px solid $black0
  padding: 5px 20px
  transition: .3s padding ease
  z-index: 10
  +xxs-block
    padding: 3px 0
  &.sticky
    background-color: rgba($gray0, .9)
    border-bottom: 1px solid rgba($black0, .4)
    .header__search
      .search__inp
        // padding: 2px 6px
      +md-block
        flex-basis: calc(100% - 45px)
        width: calc(100% - 45px)
        .search__inp
          width: calc(100% - 35px)
    .main-menu__list
      +xxs-block
        text-align: left
  &__wrapper
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    padding: 0 20px
    +xxs-block
      padding: 0 10px
  &__search
    flex-basis: 200px
    +md-block
      display: none
  &__main-menu
    padding: 0 20px
    .main-menu__item
      margin-right: 25px
      &:last-child
        margin-right: 0
    +md-block
      flex-basis: auto
      z-index: 10
      padding: 0
      .main-menu__list
        position: absolute
        left: -100%
        top: 0
        flex-flow: column nowrap
        align-items: flex-end
        justify-content: flex-start
        background-color: #fff
        border: 1px solid $gray0
        opacity: 0
        transition: .2s all linear
        overflow-y: scroll
        +md-block
          width: 60vw
          height: 100vh
      .main-menu__list_visible
        opacity: 1
        left: 0
      .main-menu__item
        margin-right: 0
        width: 100%
        padding: 10px 0
        border-bottom: 1px solid rgba($black0, .4)
        &:last-child
          border-bottom: 0px
        &:hover
          .main-menu__sub-list
            height: auto
            display: block
        +xs-block
          padding: 15px 0
      .main-menu__link
        padding: 0 20px
      .main-menu__sub-list
        position: static
        transform: none
        height: 0
        display: none
        border: none
      .main-menu__sub-item
        text-align: left
        border: none
      .main-menu__sub-link
        padding: 5px 25px
      .search__desc
        padding: 0 10px
        font-size: 18px !important
.logo
  width: 50px
  transition: .1s all linear
  +md-block
    width: 40px
  +sm-block
    width: 30px
  &:hover
    transform: scale(1.1)
  &__link
    display: flex
    font-size: 0
    color: #000
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
  &__text
    text-transform: uppercase

.main-menu
  &__list
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
  &__item
    position: relative
    &:hover
      .main-menu__link
        color: $yellow0
      .main-menu__sub-list
        left: 50%
        opacity: 1
        z-index: 2
    &_search
      display: none
      +md-block
        display: block
        padding: 20px 0 !important
        margin-bottom: 20px
        order: -1
        .search
          width: 100%
        .search__wrapper
          width: 100%
          border-left: 0px
          border-right: 0px
        .search__inp
          width: 100%
      +xxs-block
        margin-bottom: 0
        padding-bottom: 0 !important
    &_logo
      display: none
      border-bottom: none !important
      width: 60px
      align-self: center
      +md-block
        display: block
        width: 60px !important
        margin-bottom: 20px
        order: -1
  &__link
    color: $black0
    transition: .3s all linear
    +xs-block
      font-size: 16px !important
  &__sub-list
    position: absolute
    top: 100%
    left: -10000px
    opacity: 0
    transform: translateX(-50%)
    border: 1px solid $gray0
    background-color: #ffffff
    transition: .3s opacity linear
    &:hover
  &__sub-item
    border-bottom: 1px solid lighten($gray0, 2%)
    &:hover
      .main-menu__sub-link
        color: #000
  &__sub-link
    display: inline-block
    width: 100%
    white-space: nowrap
    padding: 5px 45px
    color: $black0
    transition: .3s all linear
  &__hamburger
    font-size: 0
    cursor: pointer
    display: none
    +md-block
      display: block
      width: 50px
      .st0
        transition: .2s all linear
        transform-origin: center
      #XMLID_8_
        transition: 0s all linear
      &.opened
        #XMLID_6_
          transform: rotate(46deg) translateY(16%)
        #XMLID_9_
          transform: rotate(-46deg) translateY(-16%)
        #XMLID_8_
          opacity: 0

.search
  &__desc
    margin-bottom: 10px
  &__wrapper
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
    height: 35px
    background-color: #fff
    border: 1px $black0 solid
  &__inp
    flex-basis: calc(100% - 35px)
    height: 100%
    background-color: transparent
    border: none
    padding: 5px 10px
    +font(os)
    font-size: 16px
    +md-block
      flex-basis: unset
      width: calc(100% - 35px)
      font-size: 14px
  &__btn
    flex-basis: 35px
    width: 35px
    height: 35px
    font-size: 0
    svg path
      transition: .2s all linear
    &:hover
      svg path
        fill: $yellow0
