$font-family: "Open Sans", sans-serif;
$text-color: #00303f;
$morning-sky-color: #cae4db;
$honey-color: #dcae1d;
$cerulean-color: #00303f;
$mist-color: #7a9d96;
$red-color: #fa5210;
$black0: #818181;
$black1: #313131;
$gray0: #eee;
$gray1: #e6e6e6;
$gray2: #a6a6a6;
$white0: #ffffff;
$yellow0: rgb(249, 150, 0);
$blue0: #37aee2;


rect {
  transition: all 3700ms ease-in-out;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;

  font-family: $font-family;
  font-size: 12px;
  //background-color: rgb(248 248 248);
  // .convas {
  //   // border: 1px solid red;
  // }
  .control-area {
    margin: 0 20px;
    .control-area__row {
      padding: 5px 0;
      //   display: flex;
      //   justify-content: center;
      .control-area__operation-label {
      }
      .contol-area__operation-select {
        padding: 2px;
      }
      .control-area__size-label {
      }
      .contol-area__size {
        max-width: 80px;
      }

      &.control-area__button-flex {
        .control-area__run-button {
        }

        .control-area__replay-button {
        }
        .control-area__reverse-button {
        }
        .control-area__reset-button {
        }
      }

      &.control-area__error-block {
        margin: 10px 0;
        color: $red-color;
        font-size: 14px;
      }
    }
  }
  .label {
    color: $black1;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin-right: 5px;
    font-family: "OpenSans-regular";
    font-size: 14px;
  }
  .button {
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    background-color: transparent;
    color: $black0;
    padding: 5px 8px;
    text-decoration: none;
    border: 1px solid $black0;
    transition: .3s all linear;
    margin-bottom: 5px;

    &:disabled,
    &[disabled] {
      opacity: 0.5;
      &:hover {
        background-color: transparent;
        color: $black0;
      }
    }

    &:hover {
      background-color: $black1;
      color: #ffffff;
    }
  }
}
