.cell
  border-color: transparent !important

.cell.content
  color: $black1
  +font()
  font-size: 14px
  &:nth-of-type(0)
    font-size: 18px
    +sm-block
      font-size: 15px  

.headerTable
  .cell.content
    font-size: 22px
    +sm-block
      font-size: 18px
    +xxs-block
      font-size: 16px

.gdp-table
  &__checkbox-cell
    text-align: center
    vertical-align: middle
  &__checkbox-label
    display: block
  &__checkbox-inp
    display: none
    &:checked
      & ~ .gdp-table__checkbox-div
        &:after
          opacity: 1
  &__checkbox-div
    width: 14px
    height: 14px
    border: 1px solid $black0
    position: relative
    border-radius: 3px
    &:after
      content: ''
      position: absolute
      width: 8px
      height: 8px
      background-color: $black0
      border-radius: 2px
      transition: .3s opacity ease-out
      opacity: 0
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

.balance
  &__canvas
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    svg
      width: auto
// app-root
//   +container()
