<div class="headerTable">
  <div style="display: table-row">
    <div style="display: table-cell" *ngIf="selectable" class="cell selector">
      &nbsp;
    </div>
    <div *ngFor="let column of getHeaderColumns()" style="display: table-cell" class="cell content"
         [ngStyle]="getCellStyle(null,column, 0)">
      <b>{{column.header}}</b>
    </div>
  </div>
</div>
<div style="width: 100%; border: 1px solid #cdd5dc; box-sizing: border-box; display: table;border-collapse: collapse">
  <div [ngClass]="getRowClass(dataEntry)" *ngFor="let dataEntry of outputTreeData">
    <div style="display: table-cell" *ngIf="selectable" class=".gdp-table__checkbox-cell cell selector">
      <label class="gdp-table__checkbox-label" *ngIf="dataEntry.data[configuration.parentId] !== undefined; else filler">
        <input class="gdp-table__checkbox-inp" id="{{getSelector(dataEntry)}}"
               *ngIf="dataEntry.data[configuration.parentId] !== undefined; else filler" type="checkbox"
               (change)="itemSelected(dataEntry, $event)"/>
        <div class="gdp-table__checkbox-div"></div>
      </label>
      <ng-template #filler>&nbsp;</ng-template>
    </div>
    <div *ngFor="let column of columns, let i = index" style="display: table-cell" class="cell content"
         [ngStyle]="getCellStyle(dataEntry.data,column, i)">
      <span *ngIf="i === 0 && showExpander(dataEntry)" (click)="showHideRow(dataEntry)"
            style="cursor: pointer">
        <i style="color: #8f979e" [class]="getIcon(dataEntry)"></i>
      </span>
      <span class="value" [ngClass]="(i === 0 && showExpander(dataEntry) )? 'expander' : ''"
            [innerHTML]="getValue(dataEntry,column )"></span>
    </div>
  </div>
</div>
